* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

a:visited {
    color: #fff;
}

#text {
    float: right;
    width: 50%;
}

#mac {
    float: right;
    width: 50%;
}

#text2 {
    float: left;
    width: 50%;
}

#mac2 {
    float: left;
    width: 50%;
}

body {
    background: #fff;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 100%;
    padding: 0px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #605495;
}

#wrapper {
    width: 100%;
}

#projectHeader {
    padding-bottom: 35px;
}

#projectAbout {
    height: 100vh;
    padding: 20px 0px 20px 0px;
    background: #8CC63E;
    color: #FFF;
}
#projectAbout p {
    text-align: left;
}

#project2 {
    background-color: #8CC63E;
}

#project3 {
    background: #fff;
}

#project1,
#project2,
#project3 {
    height: 95vh;
    padding: 20px 0px 20px 0px;
}

#project1,
#project3 {
    /* background-image: url(images/lemon-bg2.png);*/
    background-attachment: fixed;
    background-size: cover;
}

.headerImage {
    text-align: center;
    padding: 15px 0px;
}

.purple {
    background-image: url(images/lemon-bg2.png);
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    /*padding: 2em;*/
    /*margin-bottom: 20px;*/
    height: 95vh;
}

.purple h1 {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.purple h2 {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.purple p {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.section {
    width: 800px;
    height: 100vh;
}

.version1 {
    padding: 0em 4em 0em 4em
}

h1,
h2,
h3 {
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-top: 1em margin-bottom: 1em;
}

h2 {
    font-size: 2.25em;
    margin-bottom: 1em;
    font-style: italic;
    margin-top: .5em;
}

h3 {
    font-weight: bold;
}

b,
strong {
    font-weight: 600;
}

samp {
    display: none;
}

.nav {
    /*  border: 1px solid #ccc; */
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
        position: sticky;
    top: 0;
    background: #fff;
    z-index: 99999999;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    color: #8CC63E;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #8CC63E;
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #8CC63E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

p {
    margin-bottom: 1.5em;
    line-height: 1.5;
    /*display: inline;*/
    max-width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}

header h2 {
    font-style: italic;
    font-size: 1.8em;
    color: #333;
}

hgroup {
    margin-bottom:
}

.intro {
    font-size: 1.25em;
    line-height: 1.25em;
}

blockquote {
    padding: 1em 0 2em 0;
    font-size: 1.75em;
    line-height: 1.4em;
    hanging-punctuation: first;
    text-indent: -0.45em;
    margin: 0;
    color: darkgray;
    font-style: italic;
}

blockquote cite {
    font-size: .75em;
}

cite {
    color: darkgray;
}

.anchor {
    text-transform: uppercase;
}

.leader {
    text-transform: uppercase;
}

.dropcap {
    float: left;
    font-size: 4.7em;
    line-height: .5em;
    margin-right: 0;
}

.version2 {
    font-family: 'Open Sans', sans-serif;
}

.version2 p+p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: -0.1em;
}

.version2 p+p+p {
    font-family: 'Open Sans', sans-serif;
    text-indent: 1.5em;
}

.version2 cite {
    text-transform: uppercase;
}

.version3 {
    font-family: 'Open Sans', sans-serif;
}

.version3 blockquote {
    color: darkgray;
}

.version3 h1,
h2,
{
    font-family: 'Roboto Slab', serif;
}

.version3 blockquote {
    font-family: 'Roboto Slab', serif;
}

hr {
    margin: 2em 6em;
    height: 2px;
    background-color: #605495;
    color: #605495;
    border: 0 none;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 5px;
    display: none;
}

.scroll-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
}

.scroll-to-top:hover {
    background: rgba(0, 0, 0, 0.8);
}

.footer {
    background-image: url(images/lemon-bg2.png);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 50vh;
    margin-bottom: 0px;
    text-align: center;
}

.icons {
    position: absolute;
    left: 50%;
    padding-top: 45%;
    transform: translate(-50%, -50%);
}


/*CSS for Illustrations page*/

#thumbnails {
    height: 40vh;
    /*padding: 20px 0px 20px 0px;*/
    background: #FFF;
    color: #FFF;
}

#preview {
    float: left;
    width: 25%;
    margin: 0 0 20px 0;
}

#preview img {
    display: block;
    margin: 0;
    width: 100%;
}

#preview img:hover {
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }

#preview2 {
    float: left;
    width: 50%;
    margin: 0 0 20px 0;
}

#preview2 img {
    display: block;
    margin: 0;
    width: 100%;
}

#preview2 img:hover {
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

/*.border {
  display: inline-block;
  position: relative;
}
.border::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0 0 rgba(255,255,255,.5);
  transition: box-shadow .1s ease;
}
.border:hover::after {
  box-shadow: inset 0 0 0 10px rgba(255,255,255,.5);
}
img {
  display: block;
  position: relative;
} */

/*#garamond {
    float: left;
    width: 25%;
    margin: 0 0 20px 0;
}

#garamond img {
    display: block;
    margin: 0;
    width: 100%;
}

#infographic {
    float: left;
    width: 25%;
    margin: 0 0 20px 0;
}

#infographic img {
    display: block;
    margin: 0;
    width: 100%;
}

#masterappr {
    float: left;
    width: 25%;
    margin: 0 0 20px 0;
}

#masterappr img {
    display: block;
    margin: 0;
    width: 100%;
}*/


/* override fotorama full screen backgorund colour and other css*/

.fotorama__img {
    width: 100%;
    height: auto;
}

.fotorama--fullscreen .fotorama__stage {
    background-color: transparent;
}

.fotorama {
    padding: 10px 0px;
}

.fotorama__fullscreen-icon {
    background-color: #000;
}

.fotorama__dot {
    border: 1px solid #000;
}


/*---Tablet------*/

@media (max-width: 50em) {
    body {
        background-color: #605495;
        margin: auto 0;
        width: 85%;
        font-size: 115%;
    }
    article {
        width: 95%;
        padding: 0.5em;
    }
}


/*---Smartphone------*/

@media (max-width: 780px) {
    body {
        margin: auto 0;
        width: 90%;
        font-size: 115%;
    }
    h1 {
        font-size: 3em;
    }
    blockquote {
        font-size: 1.5em
    }
}
